<%= form_for([:normal, @blog]) do |f| %>

  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control', placeholder: 'タイトル' %>
  </div>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, class: 'form-control', placeholder: '内容' %>
  </div>

  <div class="field">
    <%= f.label :image %><br>
    <%= image_tag(@blog.image, width: 300, height: 200) if @blog.image.present? %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>

  <p><%= button_tag type: "submit", class: "btn btn-default" do %>
    <i class="fa fa-search fa-lg"></i>登録する
  <% end %><p>

  <p><%= button_to normal_blogs_path, method: :get, class: 'btn btn-info' do %>
    <i class="fa fa-book fa-lg"></i>一覧
  <% end %></p>

<% end %>
