<h2 class="page-header"><%= @blog.title %></h2>


<div class="panel panel-success">
	<div class="panel-heading">
		<h4><%= @blog.created_at.strftime("%Y-%m-%d") %> Written by <%= link_to @blog.user.profile.nick_name, normal_user_path(@blog.user) %></h4>
	</div>
	<div class="panel-body">
    <p><%= simple_format(@blog.content) %></p>
    <p></p>
	</div>
</div>

<div class="text">
  <%= image_tag(@blog.image, width: 300, height: 200) if @blog.image? %>
</div>

<div class="text">
  <% if @blog.user == current_user %>
    <p><%= button_to edit_normal_blog_path(@blog), method: :get, class: 'btn btn-default' do %>
      <i class="fa fa-book fa-lg"></i>編集
    <% end %></p>

    <p><%= button_to normal_blog_path(@blog), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-danger' do %>
      <i class="fa fa-book fa-lg"></i>削除
    <% end %></p>
  <% end %>

  <p><%= button_to normal_blogs_path, method: :get, class: 'btn btn-info' do %>
    <i class="fa fa-book fa-lg"></i>一覧へ
  <% end %></p>
</div>
