<h2><%= @blog.title %></h2>

<div class="text">
  <%= simple_format(@blog.content) %>
</div>

<div class="text">
  <strong>投稿者:</strong> <%= link_to @blog.user.profile.nick_name, user_path(@blog.user) %>
</div>

<div class="text">
  <%= image_tag(@blog.image, width: 300, height: 200) if @blog.image? %>
</div>

<div class="text">
  <% if @blog.user == current_user %>
    <%= link_to '日記を編集する', edit_blog_path(@blog), class: 'btn btn-info' %>
    <%= link_to '日記を削除する', @blog, method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-danger' %>
  <% end %>
  <p><%= link_to '一覧へ戻る', blogs_path, class: 'btn btn-default' %></p>
</div>
