<h2>ユーザー設定編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="col-xs-8">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="col-xs-8">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name, class: 'form-control' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="col-xs-8">
    <%= f.label :password %> <i>(変えない場合は空欄でOK)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "パスワードは6文字以上で設定してください" %>
  </div>

  <div class="col-xs-8">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="col-xs-8">
    <%= f.submit "更新する", class: 'btn btn-success' %>
  </div>
<% end %>

<div class="col-xs-12">
  <h3>アカウントを削除する</h3>
    退会しますか？ <%= button_to "退会する", registration_path(resource_name), data: { confirm: "本当によろしいですか？" }, method: :delete, class: 'btn btn-danger' %>
</div>
