<header id="header">
  <%= link_to root_path do %>
    <%= image_tag('baseball.png', id: 'header-logo') %>
  <% end %>

  <nav id="global-nav">
    <ul>
    <% if current_user.present? %>
      <%= link_to normal_tickets_path do %>
        <%= image_tag('menu-ticket.jpg') %>
      <% end %>
      <%= link_to normal_blogs_path do %>
        <%= image_tag('menu-blog.jpg') %>
      <% end %>
      <%= link_to normal_users_path do %>
        <%= image_tag('menu-user.jpg') %>
      <% end %>
      <%= link_to edit_user_registration_path do %>
        <%= image_tag('menu-settings.jpg') %>
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <%= image_tag('menu-signout.jpg') %>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <%= image_tag('menu-signin.jpg') %>
      <% end %>
      <%= link_to new_user_registration_path do %>
        <%= image_tag('menu-signup.jpg') %>
      <% end %>
    <% end %>
    </ul>
  </nav>
</header>
