<header id="header">
  <%= link_to root_path do %>
    <%= image_tag('baseball.png', id: 'header-logo') %>
  <% end %>

  <nav id="global-nav">
    <ul>
    <% if current_user.present? %>
      <li><%= link_to 'チケット', tickets_path %></li>
      <li><%= link_to '観戦日記', blogs_path %></li>
      <li><a href="#">投票</a></li>
      <li><%= link_to 'ユーザ一覧', users_path %></li>
      <li><%= link_to '設定', edit_user_registration_path %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path %></li>
      <li><%= link_to 'ユーザー登録', new_user_registration_path %></li>
    <% end %>
    </ul>
  </nav>
</header>
