<ul class="normal_header_ul">
  <li><%= link_to 'トップに戻る', root_path %></li>
  <li><%= link_to 'チケット一覧', tickets_path %></li>
  <% if current_user.present? %>
    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    <li><%= link_to 'マイページ', mypage_profile_path %></li>
    <li><%= link_to 'ユーザ一覧', users_path %></li>
    <li><%= link_to 'チケット下書き一覧', draft_index_tickets_path %></li>
    <li><%= link_to 'ユーザー設定', edit_user_registration_path %></li>
  <% else %>
    <li><%= link_to 'ログイン', new_user_session_path %></li>
  <% end %>
</ul>
