<!DOCTYPE html>
<html>
<head>
  <title>Baseball</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>

<%= render 'layouts/normal/header' %><br><br><br>
<p class="bg-success"><%= notice %></p>
<p class="bg-danger"><%= alert %></p>

<div class="col-md-8 col-md-offset-2">
  <%= yield %>
</div>


<%= render 'layouts/normal/footer' %>

</body>
</html>
