<h2>チケット編集</h2>

<%= form_for([:normal, @ticket]) do |f| %>

  <div class="field">
    <%= f.label :playball %>
    <%= f.text_field :playball, data: { :date_format => 'YYYY/MM/DD hh:mm' }, class: 'form-control datetimepicker', placeholder: 'YYYY/MM/DD hh:mm:ss' %>
  </div>

  <div class="field">
    <%= f.label :ballpark_id %>
    <%= f.collection_select :ballpark_id, Ballpark.where(status: true), :id, :name, {}, { class: "form-control" } %>
  </div>

  <div class="field">
  <%= f.label :home_id %>
  <%= f.collection_select :visitor_id, Team.where(status: true), :id, :name, {}, { class: "form-control" } %>
  </div>

  <div class="field">
    <%= f.label :visitor_id %>
    <%= f.collection_select :home_id, Team.where(status: true), :id, :name, {}, { class: "form-control" } %>
  </div>

  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number, class: 'form-control' %>枚
  </div>

  <div class="field">
    <%= f.label :post_end_at %>
    <%= f.text_field :post_end_at, data: { :date_format => 'YYYY/MM/DD' }, :class => 'form-control datetimepicker', placeholder: 'YYYY/MM/DD' %>
  </div>

  <div class="field">
    <%= f.submit '下書き保存する', class: 'btn btn-success' %>
  </div>

<% end %>
