<h1>プロフィール編集</h1>

<%= form_for(@profile, url: profile_path)  do |f| %>
  <%= f.label :nick_name %>
  <%= f.text_field :nick_name %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.label :team_id %>
  <%= f.collection_select :team_id, Team.where(effective: true), :id, :name %>
  <%= f.label :ballpark_id %>
  <%= f.collection_select :team_id, Ballpark.where(effective: true), :id, :name %>
  <%= f.submit %>
<% end %>
