<h1>Users#index</h1>
<% @users.each do |user| %>
  <div class="field">
    <%= profile_img(user.profile) %>
    <%= user.user_name %>
    <%= link_to 'プロフィール', user_path(user) %>
    <%= render partial: 'favorites/form', locals: { user: user } %>
    <%= render partial: 'tribes/form', locals: { user: user } %>
  </div>
<% end %>
