<h2><%= @user.profile.nick_name %>　<%= profile_img(@user.profile) %></h2>

<% if @user.profile.present? %>
  <p>好きな球団：<%= @user.profile.team.name %></p>
  <p>好きな選手：<%= @user.profile.player.name %></p>
  <p>よく行く球場：<%= @user.profile.ballpark.name %></p>
  <p><%= simple_format(@user.profile.content) %></p>
<% else %>
  <p>プロフィールがまだ登録されていません</p>
<% end %>

<% if @user == current_user %>
  <%= render 'offer_tickets', offer_tickets: @offer_tickets %>
  <%= link_to 'プロフィール編集', edit_profile_path %>
<% elsif @user != current_user %>
  <%= render 'favorites/form', user: @user %>
  <%= render 'personal_talks/new', user: @user %>
<% end %>
