<h2><%= @user.profile.nick_name %>　<%= profile_img(@user.profile) %></h2>

<% if @user.profile.present? %>
  <p>好きな球団：<%= @user.profile.team.name %></p>
  <p>よく行く球場：<%= @user.profile.ballpark.name %></p>
  <p><%= simple_format(@user.profile.content) %></p>
<% else %>
  <p>プロフィールがまだ登録されていません</p>
<% end %>

<%= render 'favorites/form', user: @user unless @user == current_user %>
<%= render 'personal_talks/new', user: @user %>
<%= render 'offer_tickets', offer_tickets: @offer_tickets %>
<%= link_to 'プロフィール編集', edit_profile_path if @user == current_user %>
