<h2 class="page-header">ユーザー一覧</h2>

<div class="row">
  <% @users.each do |user| %>
    <div class="col-md-3 col-md-offset-1 col-xs-5 col-xs-offset-1">
      <p><%= profile_img(user.profile) %> <%= user.user_name %></p>
      <p><%= link_to 'プロフィール', normal_user_path(user) %></p>
      <p><%= render 'normal/tribes/form', { user: user } %></p>
    </div>
  <% end %>
</div>

<div class="pagination">
  <%= paginate @users %>
</div>
