<ul class="media-list">
	<li class="media">
		<div class="media-body">
			<h3 class="page-header"><%= @profile.nick_name %> <%= profile_img(@profile) %></h3>
      <div class="panel panel-default">
      	<div class="panel-heading">
      		好きな球団
      	</div>
      	<div class="panel-body">
      		<%= @profile.team.try(:name) %>
      	</div>
      </div>

      <div class="panel panel-default">
      	<div class="panel-heading">
      		好きな選手
      	</div>
      	<div class="panel-body">
      		<%= @profile.player.try(:name) %>
      	</div>
      </div>

      <div class="panel panel-default">
      	<div class="panel-heading">
      		よく行く球場
      	</div>
      	<div class="panel-body">
      		<%= @profile.ballpark.try(:name) %>
      	</div>
      </div>
		</div>
	</li>
</ul>

<div class="well"><%= simple_format(@profile.content) %></div>

<% if @profile.user == current_user %>
  <%= link_to edit_normal_profile_path do %>
		<i class="fa fa-cog fa-lg">プロフィール編集</i>
	<% end %>
  <%= render 'normal/users/notification_index', notifications: @notifications %>
  <%= render 'normal/group_talks/index', group_talks: @group_talks %>
	<%= render 'normal/users/favorite_blogs', favorite_blogs: @favorite_blogs %>
<% end %>
