<p><%= ticket.playball.strftime("%Y年%m月%d日 %H:%M PLAYBALL") %> at <%= ticket.ballpark.name %></p>
<p><%= ticket.home.name %> vs <%= ticket.visitor.name %></p>
<p><%= ticket.number %>枚</p>
<p>価格：<%= ticket.price %>円/枚</p>
<p>掲載期間：<%= ticket.post_start_at.strftime("%Y年%m月%d日") %>〜<%= ticket.post_end_at.strftime("%Y年%m月%d日") %></p>
