<h1>下書きチケット一覧</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>PLAYBALL</th>
      <th>対戦</th>
      <th>枚数</th>
      <th>価格</th>
      <th>掲載期間</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.playball.strftime("%m月%d日 %H:%M") %> at <%= ticket.ballpark.name %></td>
        <td><%= ticket.home.name %> vs <%= ticket.visitor.name %></td>
        <td><%= ticket.number %>枚</td>
        <td><%= ticket.post_end_at.strftime("%Y年%m月%d日 %H時%M分") %>まで</td>
        <td><%= link_to '詳細を見る', draft_ticket_path(ticket), class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
