  <h2>ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, 'パスワードを記憶する' %>
      </div>
    <% end -%>

    <div class="field">
      <%= f.submit "ログイン", class: 'btn btn-success' %>
    </div>
  <% end %>

  <% unless resource_name == :administrator %>
    <div class="field">
      <%= link_to user_facebook_omniauth_authorize_path do %>
        <i class="fa fa-facebook-official fa-3x"></i>
      <% end %>
      <%= link_to user_google_oauth2_omniauth_authorize_path do %>
        <i class="fa fa-google fa-3x"></i>
      <% end %>
      <p><%= render "devise/shared/links" %></p>
    </div>
  <% end %>
</div>
