<div class="col-md-4 col-xs-6">
  <p><%= pennant.user.profile.nick_name %>さんの予想</p>
  <h4>１位</h4>
    <p><%= pennant.first_team.name %></p>
  <h4>２位</h4>
    <p><%= pennant.second_team.name %></p>
  <h4>３位</h4>
    <p><%= pennant.third_team.name %></p>
  <h4>４位</h4>
    <p><%= pennant.fourth_team.name %></p>
  <h4>５位</h4>
    <p><%= pennant.fifth_team.name %></p>
  <h4>６位</h4>
    <p><%= pennant.sixth_team.name %></p>
</div>
